/* Header */

.linkcustom {
    text-decoration: none;
    color: inherit;
}

.header{

display: flex;
justify-content: flex-start;
align-items: center;

position: fixed;
top:0;

width: 100%;
min-width: 480px;

height: 80px;
padding: 0 76px;

background-color: #FFFFFF;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

z-index: 10;

}

#cozname{

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 88.02%;

color: #000000;
cursor: pointer;

}


.hamburger{

margin-left: auto;
cursor: pointer;

}

#cozlogo{

cursor: pointer;

}


#dropdown_box {

    position: absolute;
    width: 200px;
    height: 172px;
    top: 72px; 
    right: 52px; 
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
    z-index: 11; /* Set as needed */

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: #FFFFFF;
    border-radius: 12px;

}

.dropdown-menu {

    position: relative;

    flex: 1;
    display: flex;

    width: 100%; /* Take full width of the parent */
    left: 0px;
    top: 0px;
    bottom: 0px;

    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 88.02%;

    align-items: center; 
    justify-content: center; 
    text-align: center;

}

.dropdown-menu:nth-child(3),.dropdown-menu:nth-child(4) {
    cursor: pointer;
}

.dropdown-menu:last-child {
    border-bottom: none;
}

#polygon {

position: absolute;
left: 75%;
right: 27%;
top: -10%;
bottom: 87.21%;

width: 22px; 
height: 24px;

background: none;

}