.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;

    background-color: white;
    max-width: 1280px; 
    height: 80px;
    padding: 0 76px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.10);
}

span.logo-title {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 12px;
    line-height: 88.023%;
}

div.logo-container {
    display: flex;
}

div.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-icon {
    position: relative;
}

/* dropdown css */
.dropdown {
    /* display: none; */
    position: absolute;
    top: 52px;
    right: 32px;
}
/* 삼각형 그라데이션 추가 필요.. */
.triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 18px solid white;
    position: absolute;
    right: 54px;
    z-index: 1;
}
.dropdown-menu {
    display: flex;
    width: 200px;
    height: 150px;
    flex-direction: column;
    text-align: start;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    background-color: white;
    position: absolute;
    top: 18px;
    right: 0px;
}
.dropdown-menu li {
    display: flex;
    list-style-type: none;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    align-items: center;
    &:not(:first-child):hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
}


.dropdown-menu li img {
    margin-right: 8px;
}
