.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0 76px;
  height: 80px;
  box-shadow: 1px 1px 6px black;
}

.logo_wrap {
  display: flex;
}
.inner_logo_image_wrap {
    margin-right: 12px;
}