.App {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* header.js */
.header-container{
  min-width: 100%;
  width: 100%;
  height: 80px;
  background-color:rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 10px rgba(128, 127, 127, 0.6);
  position: fixed;
  top: 0;
}
.header-title-container{
  margin-left: 75px;
}
.header-title{
  font-size: 32px;
  font-weight: bold;
  margin-left: 17px;
}
.header-button-container{
  margin-right: 75px;
}

/* footer.js */
.footer-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 58px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #dfdfdf;

}

/* productList.js */
.products-container{
  margin: 104px 76px;
}


 /* mainProducsList.js */
/* 상품리스트 */
.product-item-container{
  width: 1128px;
  /* background-color: antiquewhite;
  border: 1px solid red; */
}
.product-item-container > ul {
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-item-container > ul > li{
  margin: 0 12px;
  width: 264px;
  height: 264px;
  /* border: 1px solid; */
  list-style-type:none;
}
.product-item-container > ul li:first-child{
  margin-left: 0;
}
.product-item-container > ul li:last-child{
  margin-right: 0;
}
.product-item-img > img{
  width: 264px;
  height: 210px;
  border-radius: 10px;
  object-fit: cover;
}
.product-itme-content{
  margin-top:6px;
  display: flex;
  justify-content: space-between;
}

.product-item-price{
  display: flex;
  justify-content: right;
}

 /* mainProducsList.js */
/* 북마크 리스트 */
.bookmark-item-container{
  width: 1128px;
  background-color: antiquewhite;
  border: 1px solid red;
}
.bookmark-item-container > ul {
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.bookmark-item-container > ul > li{
  margin: 0 12px;
  width: 264px;
  height: 264px;
  border: 1px solid;
  list-style-type:none;
}
.bookmark-item-container > ul li:first-child{
  margin-left: 0;
}
.bookmark-item-container > ul li:last-child{
  margin-right: 0;
}


/* headerModal.js */

.header-modal-container{
  z-index: 1;
  position: absolute;
  top: 54px;
  right: 58px;
  width:200px;
  height: 172px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(150, 150, 150, 0.15), 
              0 2px 2px rgba(150, 150, 150, 0.15), 
              0 1px 3px rgba(150, 150, 150, 0.15), 
              0 6px 5px rgba(150, 150, 150, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.header-modal-container > div{
  margin: 16px 0px;
  border-bottom: 1px dotted rgb(164, 164, 164);
}
.header-modal-container > div:last-child{
  border-bottom:none;
}
.header-modal-productlist > img{
  margin-right: 5px;
}
.header-modal-bookmark > img{
  margin-right:  5px;
}