article {
  width: 100vw;
  height: 264px;
}

.card__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 264px;
  height: 264px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.card img {
  width: 264px;
  height: 210px;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.card__info .title {
  font-size: 18px;
  font-weight: bold;
}

.card__info__price {
  text-align: right;
}
