article {
  width: 100%;
  height: 264px;
}

.card__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 264px;
  height: 264px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 264px;
  height: 210px;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.card__info__price {
  text-align: right;
}
