
.productin {
    height: 100vh;

    position: relative;
    z-index: 0;
}

.productinin {
    
    padding: 104px 76px 88px;
    
    height: 100%;

    display: flex;

    flex-direction: column;

    z-index: 1;

    align-items: center;

}

.productul {
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    flex-grow: 1; 
    flex-wrap: wrap; 
    justify-content: space-between;

    

    padding: 0px;

}


.filter {

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 554px;
    height: 122px;

}

.filterbutton {
    width: 82px;
    height: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.filterimage {
    width: 82px;
    height: 82px;

    border-radius: 50%;
}

.filtertext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    padding-top: 6.5px;

    color: #646464;
}
