header {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo_h1_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  width: 55px;
  height: 55px;
  margin-left: 30px;
}

h1 {
  font-size: 32px;
  text-decoration-line: none;
}

.menu {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}

.menu:hover{
  cursor: pointer;
}

.menu_nav {
  position: absolute;
  list-style: none;
  top: 50px;
  right: 50px;
  z-index: 5;
  background-color: white;
}

.menu_nav_li{
  border-collapse: collapse;
  padding: 10px;
  border: 0.5px solid lightgray;
}

#menu_top{
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

#menu_bottom{
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.menu_nav_none{
  display: none;
}

a {
   text-decoration: none;
   color: black;
}