.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    color: black;
    max-width: 1280px;
    height: 80px;
    padding: 0 76px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


span.logo-title{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 12px;
    vertical-align: middle;
}

div.logo-container{
    display: flex;
}

div.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}