/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


*{
  box-sizing: border-box;
  color: #333;
  margin: 0;
}

li{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  box-shadow: 0 8px 8px rgb(0, 0, 0, 0.1);
  position: relative;
}

header > div {
  display: inline;
}

.mallSignature{
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mallSignature:hover{
  cursor: pointer;
}

.mallName{
  display: inline;
}

.menuBar:hover{
  cursor: pointer;
}

.menu{
  /* display: flex;
  flex-direction: column; */
  /* display: none; */
  position: absolute;
  right: 60px;
  top: 70px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(100,100,100,0.2);
}

.menu:hover {
  cursor: pointer;
}

/* .menu:after{
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  content: "";
  position: absolute;
  top: -10px;
  left: 140px;
} */

.menu p{
  padding: 15px 30px;
}

.hide{
  display: none;
}

/* Footer */
footer{
  text-align: center;
  font-size: 14px;
}

footer hr{
  /* 이거 색깔 바꾸고 싶은뎅 */
}

footer p{
  color: #999;
}

footer span{
  padding: 0 5px;
  color: #999;
}