.product{
    display: flex;
    flex-direction: column;
}
.product_profile {
    width: 264px;
    height: 210px;
    border-radius: 12px;
}

.product-follower_wrapper {
    display: flex;
    flex-direction: column;
}